__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
sdk/
.eggs/

# Emacs temporary files
*~

# Object files
*.o

# Linker output
*.map

# Executables
*.bin
*.hex
*.rom
*.srec

# Debug files
*.lst

# Generated compiler source.
bignum.inc
bignum.s
core.inc
core.s
pictured.inc
pictured.s
tests/*.inc
